*{
 margin: 0;
 padding: 0;
}

.cabecalho{
    padding: 2% 0 0 45%;
}

.bandsection {
    display: flex;
}

.bandsection__individualband {
    margin: 5%;
    min-width: 200px;
}

.bandsection__individualband__fotoartista{
    width: 100%;
}

.bandsection__individualband__nomebanda {
    text-align: center;
}