@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:wght@400;600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root{
--cor-de-fundo: #000000;
--cor-primaria: #3D0000;
--cor-secundaria: #950101;
--cor-terciaria: #FF0000;
--cor-texto-primario: #fbe4d8; 
--cor-texto-secundario: #ffffff;
--cor-link-hover: #535353;

--cor-de-fundo-nunito:#190019;

--fonte-menu: 'nunito', 'sans-serif';

}

*{
 margin: 0;
 padding: 0;
}

body{
  color: var(--cor-nunito);
  background-color: var(--cor-de-fundo-nunito);
}

.cabecalho {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px var(--cor-texto-primario);
    padding: 5px;
    margin: 0;
}

.cabecalho__links {
    font-family: var(--fonte-menu);
    font-size: 1.5em;
    font-weight: 900;
    color: var(--cor-texto-primario);
    text-decoration: none;
    margin: 15px;
}


.bandsection {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 1% 0;
}

.bandsection__individualband {
    width: 15%;
    min-width: 250px;
    margin: 0;
    padding:2%;
}


.bandsection__individualband__nomebanda {
    font-family: var(--fonte-menu);
    color: var(--cor-texto-primario);
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
}

.bandsection__individualband__musicsband {
    list-style-type: none;
    color: var(--cor-texto-secundario);
    margin-top: 7%;
}




.bandsection__individualband__faixas a {
    font-family: var(--fonte-menu);
    font-weight: 200;
    font-size: 1.3em;
    text-decoration: none;
    
}
.bandsection__individualband__faixas a:hover {
    font-family: var(--fonte-menu);
    font-weight: 200;
    font-size: 1.3em;
    color: var(--cor-link-hover);
    text-decoration: none;
}
a { color: inherit; } 


.bandsection__individualband__fotoartista {
    width: 100%;
}

@media (max-width: 540px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: solid 1px var(--cor-secundaria);
        padding: 5px;
        margin: 0;
    }

    .cabecalho__links {
        font-family: var(--fonte-menu);
        font-size: 2.0em;
        margin: 5px 5%;
    }
}